.select2{
    width:100% !important;
}
.dataTable{
    width:100% !important;
    margin-left:auto !important;
    table-layout: fixed;
}
.dataTable td{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
/*Form wizard*/
.custom-file-label{
    overflow: hidden !important;
}